Example.xsd

 <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">  
 <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="A"/>
        <xs:element type="xs:byte" name="B" maxOccurs="20" minOccurs="0"/>
        <xs:element  name="C" maxOccurs="20" minOccurs="0">
    <xs:simpleType>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType>
  </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>